/*Buutons without background*/
.secondary-btn{
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.2rem;
  text-align: center;
  color: $white;
  cursor: pointer;
  @include hovertransition;
}
.secondary-btn:hover{
  color: $darkpink;
}
/*Link as Button*/
.primary-btn{
  border: 2px solid $darkpink;
  background-color: transparent;
  color: $white;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  @include hovertransition;
}
.primary-btn:hover{
  background-color: $darkpink;
}
/*Button with icon*/
.btn-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  .fas{
    margin-left: 4px;
    margin-bottom: -2px;
    color: $darkpink;
    @include hovertransition;
  }
  &:hover{
    .fas{
      color: $white;
    }
  }
}
/*Circle Buttons*/
.circle-btns{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  .dot{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: $white;
    margin-right: 10px;
    cursor: pointer;
    @include hovertransition;
    &:hover{
      background-color: $darkpink;
    }
  }
  .active{
    background-color: $darkpink;
  }
}